Example/HDAugmentedRealityDemo.xcodeproj/xcuserdata
Example/HDAugmentedRealityDemo.xcworkspace/xcuserdata
Example/Pods/Pods.xcodeproj/xcuserdata
.swiftpm/xcode/package.xcworkspace/xcuserdata
.swiftpm/xcode/xcuserdata
Example/Pods/Pods.xcodeproj/xcuserdata
HDAugmentedReality.xcodeproj/xcuserdata/alexandru.bartis.xcuserdatad
HDAugmentedReality.xcodeproj/project.xcworkspace/xcuserdata
Example/Pods/Pods.xcodeproj/xcuserdata/danijelhuis.xcuserdatad
